############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
build
.strapi-updater.json
/dist/config/admin.js
/dist/config/api.js
/dist/src/components/coordinates/coordinates.json
/dist/src/components/data/data.json
/dist/config/database.js
/dist/src/components/geometry/geometry.json
/dist/src/index.js
/dist/config/middlewares.js
/dist/src/api/okn/controllers/okn.js
/dist/src/api/okn/routes/okn.js
/dist/src/api/okn/services/okn.js
/dist/src/api/okn/content-types/okn/schema.json
/dist/config/server.js
/dist/tsconfig.tsbuildinfo
